# Query Relational Databases
## Raw Notes

A "cheat sheet" that I developed while taking [Querying Data with Transact-SQL](https://www.edx.org/course/querying-data-transact-sql-microsoft-dat201x) for T-SQL syntax.

## Module 1: Introduction to Transact-SQL

* Select all columns from 'table' with
```sql 
SELECT * FROM table;
```
* Use the "\*" character to return all columns from a table
* Use the "AS" keyword to specify an alias for columns
* Query engine processes the query in the orders of:
```sql 
SELECT [columns] FROM [table_name] WHERE [condition] GROUP BY [condition] HAVING [condition] ORDER BY [column]
```
or
```sql
FROM [table_name] WHERE [condition] GROUP BY [condition] HAVING [condition] SELECT [columns] ORDER BY [condition]
```
* __ISNULL()__ a function that returns a value if a column or row is null.
* __NULLIF()__ a function that returns a NULL if a condition is met.
* __COALESCE()__ a function that get's the first non-NULL value in a list of columns or variables.
* __CAST()__ a function that is used to convert different variable types
* __CONVERT()__

## Module 2: Querying Tables with SELECT

* Remove duplicates with this query:
```sql
SELECT DISTINCT [column] FROM [table]
```
* Use __ORDER BY__ to sort resutls by one or more columns
    * Aliases created in SELECT clause are visible to ORDER BY
    * You can order by columns in the source that are not included in SELECT clause
    * You can specify ASC (ascending order) or DESC (descending order) where ASC is the default.
    * ORDER BY example:
```sql
SELECT [column1], [column2] FROM [table_name] ORDER BY [column1], [column2] DESC;
```
* Limiting Sorted Results:
    * __TOP__ allows you to limit the number or percentage of rows returned by a query.
    * Works with __ORDER BY__ clause to limit rows by sort order
    * Added to SELECT clause:
        * With per cent, number of rows rounded up
    * SELECT TOP(N) WITH TIES
        * Retrieve duplicates where applicable (nondeterministic)
```sql
SELECT TOP N [column1], [column2],... FROM [table_name] ORDER BY [column] ASC|DESC;
```
* __OFFSET-FETCH__ is an extension to the ORDER BY clause:
    * Allows filtering a requested range of rows
        * Dependent on ORDER BY clause
    * Provides a mechanism for paging through results
    * Specify numbers of rows to skip, number of rows to retrieve
    
```sql
ORDER BY <order_by_list>
OFFSET <offset_value> ROW(S)
FETCH FIRST|NEXT <fetch_value> ROW(S) ONLY
```
* Filtering and using Predicates

| Predicates and Operators | Description |
|:-------------------|:------------------|
| =, <, > | Compares values for equality/non-equality |
| IN | Determines whether a specified value matches any value in a subquery or a list. |
| BETWEEN | Specifies an inclusive range to test |
| LIKE | Determines whether a specific character string matches a specified pattern, which can include wildcards. |
| AND | Combines two Boolean expressions and returns TRUE only when both are TRUE. |
| OR | Combines two Boolean expressions and returns TRUE if either is TRUE. |
| NOT | Reverses the result of a search condition. |

* The per cent (%) can be used as a wildcard in queries

## Module 3: Querying Multiple Tables with Joins

* Join Concepts
    * Combine rows from multiple tables by specifying matching criteria
        * Usually based on a primary key - foreign key relationships
        * For example, return rows that combine data from the __Employee__ and __SalesOrder__ tables by matching the __Employee.EmployeeID__ primary key to the __SalesOrder.EmployeeID__ foreign key.
    * It helps to think of the tables as sets in a Venn diagram
    
* Join Syntax (ANSI SQL-92)
    * Tables joined by JOIN operator in FROM Clause
        
```sql
SELECT ...
FROM [table_1] JOIN [table_2]
ON <on_predicate>;
```

* Older version of Join Syntax (ANSI SQL-89)
    * Tables joined by commas in FROM Clause
    * __NOT__ recommended: accidental cartesian products!
```sql
SELECT ...
FROM [table_1], [table_2]
WHERE <where_predicate>;
```

* Inner Joins
    * Return only rows where a match is found in both input tables
    * Match rows based on attributes supplied in predicate
    * If join predicate operator is '=', also known as equi-join

```sql
SELECT emp.FirstName, ord.Amount
FROM HR.Employee AS emp
[INNER] JOIN Sales.SalesOrder AS ord
ON emp.EmployeeID = ord.EmployeeID
```

* Outer Joins
    * Return all rows from one table and any matching rows from second table
    * One table's rows are 'preserved'
        * Designated with LEFT, RIGHT, FULL keyword
        * All rows from preserved table output to result set
    * Matches from other table retrieved
    * Additional rows added to results for non-matched rows
        * NULLs added in places where attributes do not match
    * Example: Return all employees and for those who have taken orders, return the order amount. Employees without matching orders will display NULL for order amount.
    
```sql
SELECT emp.FirstName, ord.Amount
FROM HR.Employee AS emp
LEFT [OUTER] JOIN Sales.SalesOrder AS ord
ON emp.EmployeeID = ord.EmployeeID;
```

* Cross Joins
    * Combine each row from first table with each row from second table
    * All possible combinations output
    * Logical foundation for inner and outer joins
        * Inner join starts with Cartesian product, adds filter
        * Outer join takes Cartesian output, filtered, adds back non-matching rows (with NULL placeholers)
    * Due to Cartesian product output, not typically a desired form of join
        * Some useful exceptions:
            * Table of numbers, generating data for testing
    
```sql
SELECT emp.FirstName, prd.Name
FROM HR.Employee AS emp
CROSS JOIN Production.Product AS prd;
```

* Self Joins
    * Compare rows in same table to each other
    * Create two instances of same table in FROM clause
        * At least one alias required
    * Example: Return all employees and the name of employee's manager
    
```sql
SELECT emp.FirstName AS Employee,
        man.FirstName AS Manager
FROM HR.Employee as emp
LEFT JOIN HR.Employee AS man
ON emp.ManagerID = man.EmployeeID;
```

## Module 4: Using Set Operators

* What are UNION Queries?
    * UNION returns a result set of distinct rows combined from all statements
    * UNION removes duplicates during query processing (affects performance)
    * UNION ALL retains duplicates during query processing
```sql
-- only distinct rows from both queries are returned
SELECT countryregion, city FROM HR.Employees
UNION
SELECT countryregion, city FROM Sales.Customers;
```

* UNION Guidelines
    * Column aliases
        * Must be expressed in first query
    * Number of columns
        * Must be the same
    * Data types
        * Must be compatible for implicit conversion (or converted explicitly)

* INTERSECT Queries
    * INTERSECT returns only distinct rows that appear in both resutl sets.
    
```sql
-- only rows that exist in both queries will be returned
SELECT countryregion, city FROM HR.Employees
INTERSECT
SELECT countryregion, city FROM Sales.Customers;
```

* EXCEPT Queries
    * EXCEPT returns only distinct rows that appear in the first set but not the second
        * Order in which sets are specified matters
        
```sql
-- only rows from Employees will be returned
SELECT countryregion, city FROM HR.Employees
EXCEPT
SELECT countryregion, city FROM Sales.Customers
```